@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(rgb(32, 39, 56) 0%, rgb(7, 8, 22) 100%);
  background: -webkit-linear-gradient(rgb(32, 39, 56) 0%, rgb(7, 8, 22) 100%);
  background: linear-gradient(rgb(32, 39, 56) 0%, rgb(7, 8, 22) 100%);
}

.border-swap {
  border-radius: 12px;
  height: 42px;
  width: 42px;
  position: relative;
  margin: -18px auto;
  background-color: rgb(41, 50, 73);
  border: 5px solid rgb(13, 17, 28);
  z-index: 2;
}
.scrollbar::-webkit-scrollbar-track {
  background: white;
}
.scrollbardark::-webkit-scrollbar-track {
  background: black;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
