@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(rgb(32, 39, 56) 0%, rgb(7, 8, 22) 100%);
}

.border-swap {
  border-radius: 12px;
  height: 42px;
  width: 42px;
  position: relative;
  margin: -18px auto;
  background-color: rgb(41, 50, 73);
  border: 5px solid rgb(13, 17, 28);
  z-index: 2;
}

.scrollbar::-webkit-scrollbar-track,
.scrollbardark::-webkit-scrollbar-track {
  background: var(--background-start-rgb);
  width: 4px;
  height: 4px;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.blob,
.home,
.noise {
  background-repeat: no-repeat;
  background-position: center;
}

.blob {
  background-image: url("/patterns/blob.svg");
}

.home {
  background-image: url("/patterns/triangle.svg");
}

.noise {
  background-image: url("/patterns/noise.svg");
  background-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

.card-bg {
  background: linear-gradient(
    90deg,
    rgba(76, 130, 251, 1) 0%,
    rgba(19, 26, 42, 1) 100%
  );
}
